bot_token=
log_channel=
giveaway_channel=
#Amount of active warnings for a user to receive punishment
warning_threshold=
#ENUM(kick, ban, timeout)
warning_punishment_type=
#in minutes
warning_punishment_duration=